<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Arduino Reporter!</title>
</head>

<body>

    <h1>Hello! This page reports on the status on a sensor connected to an Arduino!</h1>

    <div>
        The current state of the sensor: {{sensor_value}}
    
    </div>
    <br>
    <div>
        You can turn the LED on or off!
        <form action="/" method="post">
            <p><input type="submit" name="submit" value="Turn On"> </p>
            <p><input type="submit" name="submit" value="Turn Off"> </p>
        </form>
    </div>
    </div>


</body>

</html>